<configuration>
    <property name="DIR" value="D:\\Programming\\Sources\\Java\\Intexsoft Tasks\\call-task\\build\\libs"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${DIR}\\command.log</file>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file : %line] %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="FILE" />
    </root>
</configuration>